{% extends "base.html" %}

{% block content %}
  <h1>Campaign Dashboard</h1>
  <button onclick="download()">Download</button>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody class="clickable">
      {% for campaign in campaigns %}
        <tr>
          <td class="campaign_id">{{campaign.id}}</td>
          <td>{{campaign.name}}</td>
          <td>{{', '.join(campaign.tags)}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
